* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #000;
  color: #fff;
}

body {
  height: 100vh;
  width: 100vw;
}

button {
  padding: 10px;
  border: 1px solid black;
  background-color: aqua;
  color: #000;
  margin: 10px;
}